.contactPlacetaker {
    position: relative;
    width: 100vw;
    top: 0;
    height: 30vh;
    background: black;
    border-bottom: solid white 3px;
}

.contactText {
    font-size: 5em;
}

.shadowUnder {
    background: url('../images/message-shadow.png') top center repeat-x;
    height: 10px;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.textColorRed {
    color: rgb(199, 7, 27);
}
.pill {
    border: solid black 2px;
}
.emailSended form{
    display: none;
}
.emailNotSended{
    display: none;
}
@media only screen and (max-width: 767px) {
    .contactText{
        font-size: 4em;
    }
}
@media only screen and (min-width: 991px) {
    .slash{
        border-left: gray solid 2px;
    }
}
